@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --poppins: "Poppins", sans-serif;

  --main-black: #091413;
  --main-white: #eeeeee;
  --dark-black: hsl(from var(--main-black) h s calc(l - 3));

  --main-color: #fadb3f;
  --dark-main-color: hsl(from var(--main-color) h s calc(l - 10));

  --transparent-main: hsl(from var(--main-color) h s l / 20%);
}

html,
body {
  overscroll-behavior-y: none;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--poppins);
  background-color: var(--main-black);
  color: var(--main-white);
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: rgb(37, 37, 37);
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

.horizontal-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.horizontal-container::-webkit-scrollbar {
  display: none;
}

.showBg {
  animation: showBg 3s ease-in forwards;
}

.showDescription {
  animation: showDesc 1s ease-in-out forwards;
}

@keyframes showDesc {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showBg {
  0% {
    opacity: 0;
    scale: 1.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
